<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="main">
        <h1>confirm</h1>
        <!-- sessionでデータを保持してmysqlに送信する -->
        <form action="/index" method="post" class="create_register-form">
            
            <div class="form_label-wrapper">
                <label for="placeName" class="input_label">
                    place_name
                </label>
                <%= placeName %>
            </div>
            <div class="form_label-wrapper">
                <label for="placeImage" class="input_label">
                    place_image
                </label>
                <%= placeImage %>
            </div>
            <div class="form_label-wrapper">
                <label for="googlePlace" class="input_label">
                    google_place
                    <!-- google map infoの登録をどうするか -->
                </label>
                <%= googlePlace %>
            </div>
            <div class="form_label-wrapper">
                <label for="review" class="input_label">
                    review_level
                </label>
                <%= review %>
            </div>
            <div class="form_label-wrapper">
                <label for="comment" class="input_label">
                    comment
                </label>
                <%= comment %>
            </div>
            <div class="form_button-wrapper">
                <button type="submit" class="form_button">
                    confirm
                </button>
            </div>
        </form>
    </main>

</body>
</html>