<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("./_share/metadata.ejs") %>
    <title>detail</title>
    <%- include("./_share/stylesheet.ejs") %>
  </head>
  <body>
    <%- include('./_share/navbar.ejs') %>
    <div class="delete_confirm__wrapper">
        <form action="/delete<%= _id %>" method="post" enctype="multipart/form-data">
            <input type="hidden" name="deleteId" value="<%= _id %>">
            <label for="deletePlaceName">
              現在の場所の名前:
              <span>
                <%= placeName %>
              </span>
              <input type="text" id="deletePlaceName" name="deletePlaceName">
            </label>
            <label for="newPlaceImage">
              現在の場所の画像:
              <span>
                <%= placeName %>
                <img src="" alt="">
              </span>
              <input type="file" accept="image/*" name="newPlaceImage">
            </label>
            <label for="">
              現在の場所の名前:
              <span>
                <%= placeName %>
              </span>
              <input type="text" name="newPlaceName">
            </label>
            <label for="">
              現在の場所の名前:
              <span>
                <%= placeName %>
              </span>
              <input type="text" name="newPlaceName">
            </label>
            <label for="">
              現在の場所の名前:
              <span>
                <%= placeName %>
              </span>
              <input type="text" name="newPlaceName">
            </label>
            <button type="submit">
                delete
            </button>
        </form>
    </div>
    <%- include('./_share/footer.ejs') %>
  </body>
  <%- include('./_share/libjs.ejs') %>
</html>
