<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include("./_share/metadata.ejs") %>
    <title>Home</title>
    <%- include("./_share/stylesheet.ejs") %>
</head>
<body>
    <%- include('./_share/navbar.ejs') %>
    <main class="main">
        <h1>hello world</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere natus et sit nulla fuga necessitatibus velit deleniti. Vel alias laboriosam sapiente corrupti perspiciatis dolor delectus dolores totam neque, molestias libero saepe? Tempora, repellat rerum. Tempora non ipsum consequuntur vel error blanditiis laboriosam temporibus qui, aperiam ullam aliquam quibusdam numquam id suscipit illum sit quidem beatae molestiae, odio sunt assumenda libero sed, vero explicabo! Laboriosam perspiciatis non facere suscipit doloribus blanditiis obcaecati tenetur quas necessitatibus fugit, ut possimus, esse quos id sint nam in dolorum quo eveniet nihil illo earum ratione, unde illum. Necessitatibus, nisi eveniet quaerat odit natus neque obcaecati!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, nesciunt numquam at similique officia quaerat quos itaque minus fugiat error, architecto nobis est, incidunt nemo facere. Reiciendis voluptates sunt obcaecati numquam suscipit at illum accusantium perferendis ullam minus voluptate corporis provident reprehenderit aliquam libero nobis earum ipsam in quia consequuntur, illo officiis facilis? Quas iusto aut cupiditate ipsa officiis placeat id, debitis non nisi itaque quaerat iure consectetur facere repellendus corporis aliquam assumenda corrupti magnam? Corrupti nobis cupiditate officiis, ab quod illum ut dolore tempora quibusdam earum, nostrum excepturi exercitationem. Rerum id aliquam officia necessitatibus, exercitationem sit distinctio, minima dolor quam voluptatem ducimus ratione debitis explicabo non eveniet consequatur odit magnam earum suscipit quibusdam eaque dolorem. Quidem eius impedit ex reprehenderit illum aspernatur dicta numquam non, perferendis ducimus repellat. Sint, culpa unde distinctio quae excepturi illum perspiciatis asperiores dolore. 
        </p>
    </main>
    <%- include('./_share/footer.ejs') %>
</body>
    <%- include('./_share/js.ejs') %>
</html>