<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include("./_share/metadata.ejs") %>
    <title>Document</title>
    <%- include("./_share/stylesheet.ejs") %>
</head>
<body>
    <%- include('./_share/navbar.ejs') %>
    <div class="foo">
        <h1>hello world</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere natus et sit nulla fuga necessitatibus velit deleniti. Vel alias laboriosam sapiente corrupti perspiciatis dolor delectus dolores totam neque, molestias libero saepe? Tempora, repellat rerum. Tempora non ipsum consequuntur vel error blanditiis laboriosam temporibus qui, aperiam ullam aliquam quibusdam numquam id suscipit illum sit quidem beatae molestiae, odio sunt assumenda libero sed, vero explicabo! Laboriosam perspiciatis non facere suscipit doloribus blanditiis obcaecati tenetur quas necessitatibus fugit, ut possimus, esse quos id sint nam in dolorum quo eveniet nihil illo earum ratione, unde illum. Necessitatibus, nisi eveniet quaerat odit natus neque obcaecati!</p>
    </div>
    <%- include('./_share/footer.ejs') %>
</body>
    <%- include('./_share/js.ejs') %>
</html>