<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include("./_share/metadata.ejs") %>
    <title>Home</title>
    <%- include("./_share/stylesheet.ejs") %>
</head>
<body>
    <%- include('./_share/navbar.ejs') %>
    <main class="main">
        <h1>Register</h1>
        <form action="/createConfirm" method="get" class="create_register-form">
        
            <div class="form_label-wrapper">
                <label for="placeName" class="input_label">
                    place_name
                </label>
                <input type="text" name="placeName" id="placeName" class="place_name-input">
            </div>
            <div class="form_label-wrapper">
                <label for="placeImage" class="input_label">
                    place_image
                </label>
                <input type="file" id="placeImage" name="placeImage" class="place_name-input">
            </div>
            <div class="form_label-wrapper">
                <label for="googlePlace" class="input_label">
                    google_place
                    <!-- google map infoの登録をどうするか -->
                </label>
                <input type="text" id="googlePlace" name="googlePlace" class="place_name-input">
            </div>
            <div class="form_label-wrapper">
                <label for="review" class="input_label">
                    review_level
                </label>
                <select class="place_name-input" name="review">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form_label-wrapper">
                <label for="comment" class="input_label">
                    comment
                </label>
                <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
            </div>
            <div class="form_button-wrapper">
                <button type="submit" class="form_button">
                    confirm
                </button>
            </div>
        </form>
    </main>
    <%- include('./_share/footer.ejs') %>
</body>
    <%- include('./_share/libjs.ejs') %>
</html>