<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("./_share/metadata.ejs") %>
    <title>detail</title>
    <%- include("./_share/stylesheet.ejs") %>
  </head>
  <body>
    <%- include('./_share/navbar.ejs') %>
    <div class="update_confirm__wrapper">
        <form action="/" method="post">
            
            <button type="submit">
                fix / update
            </button>
        </form>
    </div>
    <%- include('./_share/footer.ejs') %>
  </body>
  <%- include('./_share/libjs.ejs') %>
</html>
